.title{
    text-align: center;
    text-transform: capitalize;
    color:brown;
}

.input-group{
    width: 50%;
    border: none;
    border-top: 1px solid rgba(73, 204, 249, 1.0);
    border-bottom: 1px solid rgba(73, 204, 249, 1.0);
    margin-top: 10px;
    margin-left: 25%;
    margin-right: 10px;
    padding: 5px;
    line-height: 17px;
    
}

.input-group:focus {
    outline: none;
    border: none;
    border-top: 2px solid rgba(73, 204, 249, 1.0);
    border-bottom: 2px solid rgba(73, 204, 249, 1.0);
  }

.add-btn{
        outline: none;
        box-shadow: none;
        border-width: 2px;
        border-radius: 3px;
        border-style: solid;
        margin-left: 45%;     
}

.update-btn{
    outline: none;
        box-shadow: none;
        border-width: 2px;
        border-radius: 3px;
        border-style: solid;
        margin-left: 10px; 
}
 
.todo-list{
    margin-top: 20px;
    margin-left: 15%;
    div{
        float:left;
        .todo{
            margin-left: 5px;
        }
    }
}

.index{
    margin-left: 10%;
    div{
        margin-left:60px;
        float: left;
    }
    
}

.home{
    margin-left: 48%;
}

span{
    margin-right: 50px;
}

table{
    width:100%;
    margin:auto;
    margin-top: 20px;
    border: 1px solid rgb(0,0,0);
   
    td,th{
        border: 1px solid rgb(0,0,0);
    }
}